.nav-link,.navbar-brand {
    transition: font-size 0.7s ease-in-out;
}

.nav-link:hover {
    font-size: 1.2em; 
}
.navbar-brand:hover{
    font-size: 1.5em;
}

/* main-img */
.main-img{
    height: 100vmax;
    width: 100%;
    background-image: url('images/r%20(6).png');
    background-size: cover ;
    background-repeat: no-repeat;
}

/* ABOUT SECTION */
.about > .text{
    background-color: aqua;
    height: inherit;
    
}