.nav-link,.navbar-brand {
    transition: font-size 0.7s ease-in-out;
}

.nav-link:hover {
    font-size: 1.2em; 
}
.navbar-brand:hover{
    font-size: 1.5em;
}

/* main-img */
.main-img{
    height: 300px;
    width: 500px;
    background-image: url('Code-Alpha-Portfolio-\pexels-danbuilds-633409.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aqua;
}